streamlit
pandas
plotly-express
SQLAlchemy
psycopg2-binary
numpy
stream-chat
streamlit-autorefresh
supabase
streamlit-pdf-viewer
google-generativeai
streamlit-cookies-controller
extra-streamlit-components
